body {
	background: #eee;
}

.long_name {
	font-family: monospace, monospace;
	font-size: 100%;
}

@media only screen and (max-width: 992px) {
    .long_name {
	font-size: 50%;
    }
}

.nomination_percent {
	font-size: 200%;
}

#stash_icon {
    width:70px;
    height:50px;
    background: white;
    padding-left: 0.6em;
}

#stash {
    margin-bottom: 0.5em;
}

.total {
	font-size: 100%;
}

.nomination_count {
}

.out {

}

.nom {
	border: 1px solid #eee;
	background: #fff;
}
