body {
	background: #eee;
}

.long_name {
	font-family: monospace, monospace;
	font-size: 100%;
}

@media only screen and (max-width: 992px) {
    .long_name {
	font-size: 50%;
    }
}

.nomination_percent {
	font-size: 200%;
}

.addr { font-size: 50%; }

.tab { width: 100%; }

.tab-bar {
    margin-top: 2px;
    background: black;
}

.tab-button {
    border: none;
    background: #444;
    color: #eee;
}

.tab-button:hover {
    background: #eee;
    color: #444;
}

#stash_icon {
    width:70px;
    height:50px;
    background: white;
    padding-left: 0.6em;
}

#stash {
    margin-bottom: 0.5em;
}

#status {
    background: black;
    color: #eee;
    text-align: center;
}

.icon {
    background: red;
    cursor: copy;
}

.total {
	font-size: 100%;
}

.nom {
	border: 1px solid #eee;
	background: #fff;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
	display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding-left: 50%; 
    }
    
    td:before { 
	/* Now like a table header */
/*	position: absolute;*/
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
    }
    
    /*
	Label the data
   */
  #nominations td:nth-of-type(3):before { content: "Percentage:"; }
  #nominations td:nth-of-type(4):before { content: "Eras active:"; }
  #nominations td:nth-of-type(5):before { content: "Confidence:"; }
}
